.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 6rem;
  padding: 2rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-title {
  font-size: 1.5rem;
}

.App-intro {
  font-size: 5rem;
  text-align: center;
}

@media screen and (min-width: 25rem) {
  .App-intro {
    font-size: 10rem;
  }
}

@media screen and (min-width: 150rem) {
  .App-intro {
    font-size: 15rem;
  }
}
